In [2]:
print("hola mundo")

hola mundo

In [3]:
# Se comienza importando las librerias necesarias para trabajar. -
import pandas as pd
import numpy as np
from pandas_profiling import ProfileReport
import matplotlib
matplotlib.use('TkAgg')
import matplotlib.pyplot as plt
from sklearn.decomposition import FactorAnalysis

c:\Users\andres\AppData\Local\Programs\Python\Python310\lib\site-packages\tqdm\auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
C:\Users\andres\AppData\Local\Temp\ipykernel_14456\3985428908.py:4: DeprecationWarning: `import pandas_profiling` is going to be deprecated by April 1st. Please use `import ydata_profiling` instead.
  from pandas_profiling import ProfileReport

Realizamos una visualizacion de los Dataframes para dar vista a que se hayan cargado corectamente, a su vez observa las columnas, filas y el tipo de dato que contienen para trabajar, por ultimo controlar sobre los cambios que vamos a realizar. -

In [4]:
# Se comienza importando los archivos CSV para posteriormente trasformarlo en un datasets de pandas. -
IBM_df = pd.read_csv('C:\\Users\\andres\\AppData\\Local\\Programs\\Python\\Python310\\PI-2\\IBM.csv')
INTC_df = pd.read_csv('C:\\Users\\andres\\AppData\\Local\\Programs\\Python\\Python310\\PI-2\\INTC.csv')
MSFT_df = pd.read_csv('C:\\Users\\andres\\AppData\\Local\\Programs\\Python\\Python310\\PI-2\\MSFT.csv')
# Se pone como indice la fecha de casa dato de productividad. -
IBM_df = IBM_df.set_index('Date')
INTC_df = INTC_df.set_index('Date')
MSFT_df = MSFT_df.set_index('Date')

Emplicacion de la informacion de cada Dataframe obtenido:

'Open': El precio de apertura de las acciones en el día especificado.

'High': El precio más alto alcanzado por las acciones durante el día especificado.

'Low': El precio más bajo alcanzado por las acciones durante el día especificado.

'Close': El precio de cierre de las acciones en el día especificado.

'Adj Close': El precio de cierre ajustado por dividendos y desdoblamientos de acciones en el día especificado.

'Volume': El volumen de negociación de las acciones durante el día especificado.

In [5]:
# Se extraen las primeras filas para observar como se encuentran los datos. -
IBM_df.head()

                 Open       High        Low      Close  Adj Close    Volume
Date
1990-01-02  22.645794  23.452438  22.586042  23.422562  10.509354   7365514
1990-01-03  23.601816  23.781071  23.512190  23.631693  10.603189   9899344
1990-01-04  23.661568  23.990202  23.631693  23.900574  10.723829  10119841
1990-01-05  23.870699  24.288958  23.781071  23.840822  10.697018   7918220
1990-01-08  23.721319  24.109703  23.721319  23.990202  10.764043   4837959

In [6]:
# Se extraen las primeras filas para observar como se encuentran los datos. -
INTC_df.head()

                Open      High       Low     Close  Adj Close    Volume
Date
1990-01-02  1.078125  1.125000  1.062500  1.125000   0.642669  63833600
1990-01-03  1.125000  1.132813  1.093750  1.093750   0.624817  69504000
1990-01-04  1.101563  1.125000  1.078125  1.117188   0.638206  58483200
1990-01-05  1.117188  1.125000  1.101563  1.109375   0.633743  37036800
1990-01-08  1.117188  1.132813  1.109375  1.125000   0.642669  43305600

In [7]:
# Se extraen las primeras filas para observar como se encuentran los datos. -
MSFT_df.head()

                Open      High       Low     Close  Adj Close     Volume
Date
1990-01-02  0.605903  0.616319  0.598090  0.616319   0.384520   53035200
1990-01-03  0.621528  0.626736  0.614583  0.619792   0.386687  113774400
1990-01-04  0.619792  0.638889  0.616319  0.638021   0.398060  125740800
1990-01-05  0.635417  0.638889  0.621528  0.622396   0.388312   69566400
1990-01-08  0.621528  0.631944  0.614583  0.631944   0.394269   58982400

In [8]:
# Ver el tamaño de los datasets. -
print("IBM_df:", IBM_df.shape)
print("INTC_df:", INTC_df.shape)
print("MSFT_df:", MSFT_df.shape)

IBM_df: (8372, 6)
INTC_df: (8372, 6)
MSFT_df: (8372, 6)

In [9]:
# Ver la información de los datasets. -
print("Información de IMB_df:\n", IBM_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 8372 entries, 1990-01-02 to 2023-03-24
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       8372 non-null   float64
 1   High       8372 non-null   float64
 2   Low        8372 non-null   float64
 3   Close      8372 non-null   float64
 4   Adj Close  8372 non-null   float64
 5   Volume     8372 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 457.8+ KB
Información de IMB_df:
 None

In [10]:
# Ver la información de los datasets. -
print("Información de INTC_df:\n", INTC_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 8372 entries, 1990-01-02 to 2023-03-24
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       8372 non-null   float64
 1   High       8372 non-null   float64
 2   Low        8372 non-null   float64
 3   Close      8372 non-null   float64
 4   Adj Close  8372 non-null   float64
 5   Volume     8372 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 457.8+ KB
Información de INTC_df:
 None

In [11]:
# Ver la información de los datasets. -
print("Información de MSFT_df:\n", MSFT_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 8372 entries, 1990-01-02 to 2023-03-24
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       8372 non-null   float64
 1   High       8372 non-null   float64
 2   Low        8372 non-null   float64
 3   Close      8372 non-null   float64
 4   Adj Close  8372 non-null   float64
 5   Volume     8372 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 457.8+ KB
Información de MSFT_df:
 None

A simple vista los Datasets no poseen datos nulos o vacios. -

In [12]:
# Ver las estadísticas básicas de los datasets. -
print("Estadísticas básicas de IBM_df:\n", IBM_df.describe())

Estadísticas básicas de IBM_df:
               Open         High          Low        Close    Adj Close  \
count  8372.000000  8372.000000  8372.000000  8372.000000  8372.000000
mean     97.434757    98.355122    96.566187    97.470285    66.978898
std      52.054851    52.392296    51.740152    52.076298    41.532292
min       9.799235     9.978489     9.709608     9.799235     5.245978
25%      52.273542    53.029397    51.445984    52.461758    29.627714
50%     102.007645   103.632889   100.669212   102.117588    60.826960
75%     136.281067   137.374996   135.262497   136.419697   108.617129
max     205.908218   206.405350   204.875717   206.309753   148.742966

             Volume
count  8.372000e+03
mean   7.373780e+06
std    4.723861e+06
min    6.828290e+05
25%    4.397855e+06
50%    6.158744e+06
75%    8.852062e+06
max    7.263916e+07

In [13]:
# Ver las estadísticas básicas de los datasets. -
print("Estadísticas básicas de INTC_df:\n", INTC_df.describe())

Estadísticas básicas de INTC_df:
               Open         High          Low        Close    Adj Close  \
count  8372.000000  8372.000000  8372.000000  8372.000000  8372.000000
mean     25.495934    25.843279    25.151257    25.494959    18.833071
std      16.016374    16.240164    15.799994    16.015688    14.384746
min       0.906250     0.937500     0.875000     0.910156     0.519937
25%      17.137968    17.459999    16.837500    17.140469    10.251818
50%      23.570000    23.865001    23.285001    23.554999    15.345698
75%      33.900002    34.312501    33.452500    33.895469    26.126823
max      75.625000    75.828125    73.625000    74.875000    63.608189

             Volume
count  8.372000e+03
mean   5.524464e+07
std    3.498009e+07
min    1.155400e+06
25%    3.209818e+07
50%    4.920475e+07
75%    6.850420e+07
max    5.677088e+08

In [14]:
# Ver las estadísticas básicas de los datasets. -
print("Estadísticas básicas de MSFT_df:\n", MSFT_df.describe())

Estadísticas básicas de MSFT_df:
               Open         High          Low        Close    Adj Close  \
count  8372.000000  8372.000000  8372.000000  8372.000000  8372.000000
mean     52.535681    53.106145    51.953616    52.549162    46.614880
std      70.492688    71.231972    69.714757    70.511630    71.007095
min       0.591146     0.604167     0.583333     0.598090     0.373147
25%      18.799375    19.180001    18.467499    18.794999    12.887584
50%      28.030001    28.350000    27.760000    28.049999    20.213262
75%      46.562500    47.022500    46.030312    46.567501    38.524063
max     344.619995   349.670013   342.200012   343.109985   339.075562

             Volume
count  8.372000e+03
mean   5.648093e+07
std    3.364806e+07
min    3.705600e+06
25%    3.362382e+07
50%    5.057825e+07
75%    7.012212e+07
max    7.645040e+08

A continuacion, realizamos la consulta sobre si se encuentran valores duplicados en los Dataframe, a traves de la funcion df.duplicated() y acompañado con la funcion df.sum(), para sumar si efecvtivamente se encuentran dichos valores nulos.

In [15]:
IBM_df.duplicated().sum()

0

In [16]:
INTC_df.duplicated().sum()

0

In [17]:
MSFT_df.duplicated().sum()

0

In [18]:
# Agregar una columna con el nombre de las empresas
nombre_empresas = ['IBM'] * len(IBM_df)
IBM_df.insert(1, 'Nombre_Empresa', nombre_empresas)
IBM_df.head()

,Open,Nombre_Empresa,High,Low,Close,Adj Close,Volume
Date,,,,,,,
1990-01-02,22.645794,IBM,23.452438,22.586042,23.422562,10.509354,7365514
1990-01-03,23.601816,IBM,23.781071,23.512190,23.631693,10.603189,9899344
1990-01-04,23.661568,IBM,23.990202,23.631693,23.900574,10.723829,10119841
1990-01-05,23.870699,IBM,24.288958,23.781071,23.840822,10.697018,7918220
1990-01-08,23.721319,IBM,24.109703,23.721319,23.990202,10.764043,4837959

In [19]:
# Agregar una columna con el nombre de las empresas
nombre_empresas = ['INTC'] * len(INTC_df)
INTC_df.insert(1, 'Nombre_Empresa', nombre_empresas)
INTC_df.head()

,Open,Nombre_Empresa,High,Low,Close,Adj Close,Volume
Date,,,,,,,
1990-01-02,1.078125,INTC,1.125000,1.062500,1.125000,0.642669,63833600
1990-01-03,1.125000,INTC,1.132813,1.093750,1.093750,0.624817,69504000
1990-01-04,1.101563,INTC,1.125000,1.078125,1.117188,0.638206,58483200
1990-01-05,1.117188,INTC,1.125000,1.101563,1.109375,0.633743,37036800
1990-01-08,1.117188,INTC,1.132813,1.109375,1.125000,0.642669,43305600

In [20]:
# Agregar una columna con el nombre de las empresas
nombre_empresas = ['MSFT'] * len(MSFT_df)
MSFT_df.insert(1, 'Nombre_Empresa', nombre_empresas)
MSFT_df.head()

,Open,Nombre_Empresa,High,Low,Close,Adj Close,Volume
Date,,,,,,,
1990-01-02,0.605903,MSFT,0.616319,0.598090,0.616319,0.384520,53035200
1990-01-03,0.621528,MSFT,0.626736,0.614583,0.619792,0.386687,113774400
1990-01-04,0.619792,MSFT,0.638889,0.616319,0.638021,0.398060,125740800
1990-01-05,0.635417,MSFT,0.638889,0.621528,0.622396,0.388312,69566400
1990-01-08,0.621528,MSFT,0.631944,0.614583,0.631944,0.394269,58982400

In [21]:
# Crear un DataFrame con los precios de cierre ajustados de las empresas
IBM_adj_close = IBM_df['Adj Close']
INTC_adj_close = INTC_df['Adj Close']
MSFT_adj_close = MSFT_df['Adj Close']
df_cierre_ajustado = pd.DataFrame({'IBM': IBM_adj_close, 'INTC': INTC_adj_close, 'MSFT': MSFT_adj_close})
print(df_cierre_ajustado)

                   IBM       INTC        MSFT
Date
1990-01-02   10.509354   0.642669    0.384520
1990-01-03   10.603189   0.624817    0.386687
1990-01-04   10.723829   0.638206    0.398060
1990-01-05   10.697018   0.633743    0.388312
1990-01-08   10.764043   0.642669    0.394269
...                ...        ...         ...
2023-03-20  125.940002  29.160000  272.230011
2023-03-21  126.570000  28.459999  273.779999
2023-03-22  124.050003  28.129999  272.290009
2023-03-23  123.370003  29.030001  277.660004
2023-03-24  125.290001  29.360001  280.570007

[8372 rows x 3 columns]

In [22]:
# Crear un DataFrame con los precios de apertura de las empresas
IBM_Open = IBM_df['Open']
INTC_Open = INTC_df['Open']
MSFT_Open = MSFT_df['Open']
df_precio_apertura = pd.DataFrame({'IBM': IBM_Open, 'INTC': INTC_Open, 'MSFT': MSFT_Open})
print(df_precio_apertura)

                   IBM       INTC        MSFT
Date
1990-01-02   22.645794   1.078125    0.605903
1990-01-03   23.601816   1.125000    0.621528
1990-01-04   23.661568   1.101563    0.619792
1990-01-05   23.870699   1.117188    0.635417
1990-01-08   23.721319   1.117188    0.621528
...                ...        ...         ...
2023-03-20  124.309998  29.799999  276.980011
2023-03-21  126.900002  29.000000  274.880005
2023-03-22  127.000000  28.480000  273.399994
2023-03-23  123.809998  28.379999  277.940002
2023-03-24  123.360001  29.040001  277.239990

[8372 rows x 3 columns]

In [23]:
# Crear un DataFrame con los precios de apertura de las empresas
IBM_Volumen = IBM_df['Volume']
INTC_Volumen = INTC_df['Volume']
MSFT_Volumen = MSFT_df['Volume']
df_cierre_volumen = pd.DataFrame({'IBM': IBM_Volumen, 'INTC': INTC_Volumen, 'MSFT': MSFT_Volumen})
print(df_cierre_volumen)

                 IBM      INTC       MSFT
Date
1990-01-02   7365514  63833600   53035200
1990-01-03   9899344  69504000  113774400
1990-01-04  10119841  58483200  125740800
1990-01-05   7918220  37036800   69566400
1990-01-08   4837959  43305600   58982400
...              ...       ...        ...
2023-03-20   4588300  38780100   43466600
2023-03-21   3856300  55650800   34558700
2023-03-22   3549000  37415500   34873300
2023-03-23   4651900  43785500   36610900
2023-03-24   3812300  55912100   28172000

[8372 rows x 3 columns]

- Grafico de Boxplot

In [24]:
# Crear una figura y un eje
fig, ax = plt.subplots()

# Crear un boxplot con los precios de cierre ajustados de las empresas
df_cierre_ajustado.plot(kind='box', ax=ax)

# Personalizar el gráfico
ax.set_title('Boxplot de los precios de cierre ajustados de las empresas')
ax.set_ylabel('Precio de cierre ajustado')

# Mostrar el gráfico
plt.show()

- Grafico Histograma

In [25]:
# Crear una figura y un eje
fig, ax = plt.subplots()

# Crear un histograma con los precios de cierre ajustados de las empresas
df_cierre_ajustado.plot(kind='hist', y=['IBM', 'INTC', 'MSFT'], bins=20, alpha=0.7, ax=ax)

# Personalizar el gráfico
ax.set_title('Histograma de los precios de cierre ajustados de las empresas')
ax.set_xlabel('Precio de cierre ajustado')
ax.set_ylabel('Frecuencia')

# Mostrar el gráfico
plt.show()

- Gráfico de línea con marcadores

In [26]:
# Crear una figura y un eje
fig, ax = plt.subplots()

# Crear un gráfico de línea con los precios de cierre ajustados de las empresas
df_cierre_ajustado.plot(kind='line', ax=ax, marker='o')

# Personalizar el gráfico
ax.set_title('Precios de cierre ajustados de las empresas')
ax.set_xlabel('Fecha')
ax.set_ylabel('Precio de cierre ajustado')

# Mostrar el gráfico
plt.show()

El P/E o Price-to-Earnings es una métrica financiera que se utiliza para evaluar la relación entre el precio de una acción y las ganancias que genera la empresa. En términos simples, el P/E indica cuánto se está pagando por cada unidad monetaria de ganancias que la empresa genera.

Un P/E de "XXX" significa que por cada unidad monetaria de ganancia que la empresa genera, se está pagando "XXX" unidades monetarias por su acción en el mercado bursátil. Por lo general, un P/E bajo se considera positivo ya que indica que la acción puede estar subvalorada y tiene un mayor potencial de crecimiento en el futuro. Sin embargo, el valor de referencia para considerar un P/E bajo o alto depende del sector industrial y las condiciones del mercado en general.

In [27]:
# Seleccionar las columnas necesarias para el cálculo del múltiplo de P/E
precio_accion = IBM_df['Close']
ganancias_por_accion = IBM_df['Adj Close']

# Calcular el P/E
pe_ratio = np.divide(precio_accion, ganancias_por_accion)

# Imprimir el resultado
print('El P/E de la empresa es:', pe_ratio.mean())

El P/E de la empresa es: 1.6044505860760385

In [28]:
# Seleccionar las columnas necesarias para el cálculo del múltiplo de P/E
precio_accion = INTC_df['Close']
ganancias_por_accion = INTC_df['Adj Close']

# Calcular el P/E
pe_ratio = np.divide(precio_accion, ganancias_por_accion)

# Imprimir el resultado
print('El P/E de la empresa es:', pe_ratio.mean())

El P/E de la empresa es: 1.5112119012611323

In [29]:
# Seleccionar las columnas necesarias para el cálculo del múltiplo de P/E
precio_accion = MSFT_df['Close']
ganancias_por_accion = MSFT_df['Adj Close']

# Calcular el P/E
pe_ratio = np.divide(precio_accion, ganancias_por_accion)

# Imprimir el resultado
print('El P/E de la empresa es:', pe_ratio.mean())

El P/E de la empresa es: 1.3755908409119988